@model UdlaOverflow.Models.IndexViewModel


@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Manage";
}

<h1>Perfil de usuario</h1>
@*<h2>@ViewBag.Title.</h2>*@

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Configuracion de perfil de usuario</h4>
    <h3>Datos Personales:</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>Usuario:</dt>
        <dd>
            @User.Identity.GetUserName()
        </dd>
        <dt>Nombre:</dt>
        <dd>
            @Model.FirstName
        </dd>
        <dt>Apellido:</dt>
        <dd>
            @Model.LastName
        </dd>
        <dt>Contrasena:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar Contrasena", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Crear", "SetPassword")
            }
            ]
        </dd>
        @*<dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.

             See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.

             Uncomment the following block after you have set up two-factor authentication
        *@
        @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@
        @*<dt>Two-Factor Authentication:</dt>
            <dd>
                <p>
                    There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication.
                </p>*@
        @*@if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Enabled
                    <input type="submit" value="Disable" class="btn btn-link" />
                    </text>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>Disabled
                    <input type="submit" value="Enable" class="btn btn-link" />
                    </text>
                }
            }*@
        @*</dd>*@
    </dl>
    <hr />
    @Html.Action("_UserQuestions", "UO_Question", new { Userid = Model.UserId })
    <hr/>
    @Html.Action("_UserAnswers", "UO_Answer", new { Userid = Model.UserId })

    @*<table style="width:100%">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </table>*@
</div>
